# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()

## The initial value of a is 0
## In this step the function b calls function c which adds value of 2 to a 
## The value at the end of this step is now 2

In [3]:
b()

## The initial value of a is 2
## In this step the function b calls function c which adds value of 2 to a 
## The value at the end of this step is now 4

In [4]:
b()

## The initial value of a is 4
## In this step the function b calls function c which adds value of 2 to a 
## The value at the end of this step is now 6

In [5]:
a

6

# Question 2

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        return "File " + file_name + " not found"

In [7]:
file_length("idterm.py")

'File idterm.py not found'

In [8]:
file_length("Filelength.txt")

123

# Question 3

In [9]:
class Marsupial():
    
    def __init__(self):
        self.new_list = []
        
    def put_in_pouch(self,item):
        return self.new_list.append(item)
        
    def pouch_contents(self):
        return self.new_list

In [10]:
m = Marsupial()

In [11]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [12]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
class Kangaroo(Marsupial):
    
    def __init__(self, xcord, ycord):
        self.new_list = []
        self.x = xcord
        self.y = ycord
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates " + "(" + str(self.x) + "," + str(self.y) + ")"

In [14]:
k = Kangaroo(0,0)

In [15]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [16]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [17]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [19]:
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [20]:
def collatz(num):
    if(type(num) == int and num > 0):
        if num > 1:
            if(num % 2 == 0):
                print(num)
                num = num/2
                num = int(num)
                collatz(num)
            else:
                print(num)
                num = (3*num)+1
                num = int(num)
                collatz(num)
        else: 
            print(num)
    else:
        return str(num) +" is not a positive integer"

In [21]:
collatz(1)

1

In [22]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [23]:
def binary(num):
    if num != 0:
        if (type(num) == int and num > 0):
            binary(num//2)
            print(num%2, end="")
        else:
            return "Please enter a positive integer"
    else:
        return 0

In [24]:
binary(0)

0

In [25]:
binary(1)

1

In [26]:
binary(3)

11

In [27]:
binary(9)

1001

# Question 6

In [28]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.header = ''
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1','h2','h3','h4','h5']:
            self.header = tag
            #print(self.headerTag) 
    
    def handle_data(self, attrs):
        if self.header in ['h1','h2','h3','h4','h5']:
            self.header = list(self.header)
            indent = (int(self.header[1])-1) * ' ' 
            print(indent + attrs)

In [29]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [30]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collectURL(HTMLParser):    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = [] # list for links
    
    def handle_starttag(self, tag , attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolueLink = urljoin(self.url, attr[1])
                    if absolueLink[:4] == 'http':
                        self.links.append(absolueLink)
                        
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
    content = urlopen(url).read().decode()
    collector = collectURL(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    if indent == 0:
        print(url)
    else:
        print(indent*' ',url)

    for url in urls:
        if depth > 0:
            webdir(url, depth - 1, indent+2)

In [31]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
   http://reed.cs.depaul.edu/lperkovic/test2.html
     http://reed.cs.depaul.edu/lperkovic/test4.html
   http://reed.cs.depaul.edu/lperkovic/test3.html
     http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [32]:
%load_ext sql
%sql sqlite://

In [33]:
%%sql
CREATE TABLE city_climate
(
    City        varchar(25),
    Country     varchar(25),
    Season      varchar(10),
    Temperature float,
    Rainfall    float
);

INSERT INTO city_climate
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
12 rows affected.

[]

## a)

In [34]:
%%sql
SELECT Temperature FROM city_climate

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## b)

In [35]:
%%sql
SELECT DISTINCT City FROM city_climate

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

## c)

In [36]:
%%sql
SELECT * FROM city_climate
WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## d)

In [37]:
%%sql
SELECT * FROM city_climate
WHERE Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## e)

In [38]:
%%sql
SELECT City, Country, Season FROM city_climate
WHERE Rainfall Between 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

## f)

In [39]:
%%sql
SELECT City, Country FROM city_climate
WHERE Season = 'Fall' AND Temperature > 20 
ORDER BY Temperature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# Question 9

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## a)

In [41]:
words_in_upper = [i.upper() for i in words]
print(words_in_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## b)

In [42]:
words_in_lower = [i.lower() for i in words]
print(words_in_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## c)

In [43]:
len_of_words = [len(i) for i in words]
print(len_of_words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

## d)

In [44]:
combination = [[i.upper(),i.lower(),len(i)] for i in words]
print(combination)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

## e)

In [45]:
len_gt_4 = [i for i in words if len(i)>=4]
print(len_gt_4)

['quick', 'brown', 'jumps', 'over', 'lazy']